<h2 style="text-align:center;margin-top: 25px;color: darkmagenta;">Angular Demo fetching Employees List using .Net Web API</h2>
<div class="container py-5">
  <h3 class="text-center text-uppercase" style="color: cornflowerblue;">List of Employees</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="text-center text-uppercase">
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Age</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees" class="text-center">
        <td>{{emp.Id}}</td>
        <td>{{emp.Name}}</td>
        <td>{{emp.Age}}</td>
        <td>{{emp.Salary}}</td>
      </tr>
    </tbody>
  </table>
</div>